@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('img/JackDaniels.jpg');
    background-repeat: no-repeat;
    background-size: 40%; 
    background-position-y: bottom;
    background-position-x: left;
    color: #ffffff;
    background-color: #141414;
    font-family: "EB Garamond", serif;
}

h1 {
    width: 100vw;
    text-align: center;
    font-size: 42px;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    height: 60%;
    padding: 20px;
}

table {
    font-size: 32px;
}

thead tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

tbody tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px
}

button {
    width: 3vw;
    height: 3wh;
    font-size: 20px;
    border-radius: 20%;
    border: none;
    background: transparent;
    color: #ffffff;
}

.progress {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

svg {
    transform: rotate(-90deg); /* Начинаем с верха */
    width: 100%;
    height: 100%;
}

.progress-frame {
    fill: none;
    stroke: #ddd;
    stroke-width: 10;
}

.progress-bar {
    fill: none;
    stroke: #4caf50;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 283; /* Полная длина окружности (2 * PI * R) */
    stroke-dashoffset: 283; /* Начинаем с полного круга */
    transition: stroke-dashoffset 0.3s ease;
}

text {
    font-size: 16px;
    fill: #000;
    font-weight: bold;
}
